:host {
  display: block;
}
.field-error:focus {
  border-color: red;
  outline-color: red;
}

.multi-select-readonly-container {
  list-style: none;
}
.multi-select-readonly-container li {
  display: inline-block;
}

[part="input"]:disabled,
[part="select"]:disabled {
  cursor: not-allowed;
}
