/*
  unidy SDK Global Styles
  This file should be included in the <head> of the application to prevent
  Flash of Unstyled Content (FOUC) and apply global styles.
*/

u-newsletter-root,
u-newsletter-checkbox,
u-newsletter-unsubscribe-button,
u-newsletter-subscribe-button,
u-newsletter-logout-button,
u-submit-button,
u-signed-in,
u-conditional-render,
u-config,
u-email-field,
u-error-message,
u-field,
u-flash-message,
u-logout-button,
u-magic-code-field,
u-missing-field,
u-missing-fields-submit-button,
u-pagination-button,
u-pagination-page,
u-passkey,
u-password-field,
u-profile,
u-raw-field,
u-reset-password-button,
u-send-magic-code-button,
u-signin-root,
u-signin-step,
u-signin-strategy,
u-social-login-button,
u-spinner,
u-ticketable-list {
  visibility: hidden;
}
