.u-flash-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 500;
}

.u-flash-message {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 12px;
  padding: 12px;
  border-radius: 4px;
  max-width: 400px;
  min-width: 200px;
}

.u-flash-content {
  word-break: break-word;
}

.u-flash-close {
  cursor: pointer;
  line-height: 1;

  padding-top: 4px;
}