:host {
  display: block;
}

.unidy-dialog {
  max-width: 90vw;
  max-height: 90vh;
  width: 400px;
  height: 720px;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.6);
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}