name: Release

on:
  # This allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

  # To make this automatic, uncomment the following lines.
  # This will trigger the workflow on every push to the main branch.
  # push:
  #   branches:
  #     - main

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          # We need to fetch all history and tags for standard-version
          fetch-depth: 0

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1

      - name: Install dependencies
        run: bun install

      - name: Configure Git
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      - name: Create Release
        run: bun run release -- --commit-all --release-as-patch

      - name: Build SDK
        run: bun run build

      - name: Publish to NPM
        run: |
          cd packages/sdk
          npm config set //registry.npmjs.org/:_authToken ${NPM_TOKEN}
          npm publish
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Push changes
        run: |
          git push --follow-tags origin main
